<div class="patient-info-show">
  <p id="logo notice">Clinfisio Logo<%= notice %></p>

  <h1 class="title">Pacientes</h1>

  <div>
    <table class="table is-striped is-hoverable is-fullwidth is-scrollable">
      <thead>
        <tr>
          <th colspan="1"> <%= link_to 'Novo Paciente', new_patient_path %>
    </th>

        </tr>
      </thead>

      <tbody>
        <tr>
          <th colspan="2">Nome do Paciente</th>
          <th colspan="2">Plano de Saude</th>
          <th colspan="2">Diagnostico</th>
          <th colspan="2">Contato</th>
          <th colspan="2">RG/CPF</th>

        </tr>
        <% @patients.each do |patient| %>
          <tr>

            <td colspan="2"><%= link_to patient.patient_first_name, patient %>
                            <%= link_to patient.patient_last_name, patient %></td>
            <td colspan="2"><%= patient.insurance %></td>
            <td colspan="2"><%= patient.diagnose %></td>
            <td colspan="2"><%= patient.patient_phone_number %></td>
            <td colspan="2"><%= patient.cpf_rg %></td>
            <!-- <td colspan="3"><%= link_to 'Mais', patient %></td> -->
            <td class="button is-info is-outlined is-focused" colspan="1"><%= link_to '✏️', edit_patient_path(patient) %></td>
            <td class="button is-danger is-outlined is-focused" colspan="1"><%= link_to '❌', patient, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
