
<div class="form">
  <%= form_for @appointment do |f| %>

    <div class="field">
      <label class="label"><p> Paciente </p></label>
      <%= f.text_field :patient_name, placeholder: "Nome" %>
    </div>

    <div class="field">
      <label class="label"> CPF ou RG</label>
      <%= f.text_field :doctor_name, placeholder: "Doctor Name ..." %>
    </div>

    <div class="field">
      <label class="label"> Paciente presente</label>
      <%= f.check_box :patient_present %>
    </div>

    <div class="field">
      <label for="label"> Medicos</label>
      <%= f.collection_select :doctor_id, Doctor.order(:doctor_first_name), :id%>

    </div>

    <div class="field">
      <label class="label"> Data</label>
      <%= f.text_field :date, placeholder: "Diagnostico" %>
    </div>


    <div id="save-btt">
      <%= f.button "Salvar", type: :submit%>
    </div>

  <% end %>
</div>
