<div class="patient-info-show">
  <p id="logo notice">Clinfisio Logo<%= notice %></p>


<h1>Appointments</h1>

<div>
  <table class="table is-striped is-hoverable is-fullwidth is-scrollable">
    <thead>
      <tr>
        <th colspan="1"> <%= link_to 'Nova Consulta', new_appointment_path %>
  </th>

      </tr>
    </thead>

    <tbody>
      <tr>
        <th colspan="2">Nome do Paciente</th>
        <th colspan="2">Doutor(a)</th>
        <th colspan="2">Data da Consulta</th>
        <th colspan="2">Hora da Consulta</th>
        <th colspan="2">Especialidade</th>
        <th colspan="2">Paciente Presente </th>

      </tr>
      <% @appointments.each do |appointment| %>
        <tr>
          <td colspan="2"><%= appointment.patient_name %></td>
          <td colspan="2"><%= appointment.doctor_name %></td>
          <td colspan="2"><%= appointment.date %></td>
          <td colspan="2"><%= appointment.time %></td>
          <td colspan="2"><%= appointment.session_type %></td>
          <td colspan="2"><%= appointment.patient_present %></td>

          <td class="button is-info is-outlined is-focused" colspan="1"><%= link_to '✏️', edit_appointment_path(appointment) %></td>
          <td class="button is-danger is-outlined is-focused" colspan="1"><%= link_to '❌', appointment, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  </div>
